# MongoDB Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority

# Optional: Next Auth Secret (for JWT sessions)
# NEXTAUTH_SECRET=your-secret-key

# Optional: Port for the application (default is 3000)
# PORT=3000 